body{
    font-size: 18px;
    padding: 0;
    margin: 0;
    overflow: scroll;
    background: #f0f8ff;
}
/* sidebar item */
.sidebar-header h4{
    color: #fff;
    margin: 10px 0 30px 20px;
}
li.active{
    background: #000;
    
}
li.item{
    padding: 30px 40px;
}

.item a{
    color: #fff;
    text-decoration: none;
}

li.item:hover{
    background: #000;
}
#sidebarCollapse{
    position: fixed;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    margin-left: 250px;
    margin-top: 70px;
    transition: 1s;
    z-index: 999;
    
}
#sidebarCollapse.active{
    margin-left: 0;
    transition: 1s;
    
}

#sidebarCollapse span{
    width: 70%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);

}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px,2px);
}

#sidebarCollapse span:nth-of-type(2){
    opacity: 0;
}

#sidebarCollapse span:last-of-type{
    transform: rotate(-45deg) translate(1px , -1px);
}

#sidebarCollapse.active span{
    opacity: 1;
    transform: none;
    margin: 5px auto;
}

.wrapper{
    display: flex;
    perspective: 1500;
    align-items: stretch;
}

#sidebar{
    position: fixed;
    top: 70px;
    max-width: 250px;
    min-width: 250px;
    background: #133337;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center left;
    height: 100%;
    z-index: 998;
}

#sidebar.active{
    margin-left: -250px;
    transform: rotateY(100deg);
}
/* responsive */
@media (max-width: 768px){
    #sidebar{
        margin-left: -250px;
        transform: rotateY(100deg);
        position: fixed;
    }
    #sidebar.active{
        margin-left: 0;
        transform: none;
       
    }
    #sidebarCollapse{
        margin-left: 250px;
        z-index: 90;
        
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type{
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

    #sidebarCollapse.active span{
        margin: 0 auto;
    }

    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

    .card-group{
       
        flex-direction: column;
    }
  
  
}


/* card */
.card{
    margin: 20px;
    max-width: 500px;
    min-width: 400px;
    max-height: 350px;
}

.card-group{
    display: flex;
    flex-direction: row;
}

.card1{
    background: url('../../resources/bg.png');
}

.card2{
    background: url('../../resources/bg2.png');
}

.card3{
    background: url('../../resources/bg3.png');
}

#card{
   
    background-repeat: no-repeat;
    background-size: 120px 120px;
    background-position: right;
    
    color: #fff;
    
    padding: 20px;
    width: 200px;
    height: 170px;
}

